<section id="home">
    <div class="container">
        <div class="row">
            <div class="column column bg-content">
                <div class="column">
                    <h1>Save time by outsourcing tasks. As a virtual assistant, I can help your business thrive.</h1>
                    <a class="button btn-pink text" href="#services">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="transition-bg-1"></div>
</section>
<section id="about-me">
    <div class="container">
        <div class="row about-details">
            <div class="column column-50">
                <h1 class="black-text">Stephanie Castro</h1>
                <p>Hi friend,
                <br>
                Are you a small business owner struggling to balance work-life?
                Or perhaps you’ve embarked on your entrepreneurial journey but find yourself spending too much time on mundane tasks?
                You are in the right place!
                Hand me that “to-do list”. I got you!
                <br>
                <br>
                As a virtual assistant, my goal is to help businesses thrive and flourish. By taking the load off your shoulders, you now have the freedom to do what you truly love!
                </p>
                <a class="button btn-teal text" href="#contact-me">Get In Touch</a>
            </div>
            <div class="column column-offset-10 column-40">
                <%= image_tag("stephanies-pfp.jpg", :alt => "Virtual Assistant Profile Pic") %>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="column">
                <h1>What I Do</h1>
                <div class="row services-details">
                    <div class="column">
                        <h4>Virtual Assistant Admin</h4>
                        <ul>
                            <li>Email Management</li>
                            <li>Calendar Management</li>
                            <li>Customer Service</li>
                            <li>Appointment Setting</li>
                            <li>Translation (English/Spanish)</li>
                        </ul>
                    </div>
                    <div class="column">
                        <h4>Social Media</h4>
                        <ul>
                            <li>Market Research</li>
                            <li>Hashtag Research</li>
                            <li>Social Media Strategy</li>
                            <li>Create Content (copy + digital)</li>
                            <li>Community Engagement *(Monthly Retainer & A la carte)</li>
                        </ul>
                    </div>
                    <div class="column">
                        <h4>Copywriting</h4>
                        <ul>
                            <li>Create Website/Blog Content</li>
                            <li>Proofread</li>
                            <li>Edit</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <a class="button btn-pink text" href="https://docs.google.com/document/d/15PdASjsgmmgPWF4aexAKW9KTHfy2Pg9Y5UKSy9bDbyk/edit?usp=sharing">Get In Touch</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="my-portfolio">
    <div class="container">
        <div class="row">
            <h1 class="black-text">My Projects</h1>
        </div>
        <div class="row projects">
            <div class="column column-33">
                <a href="https://www.clearchoicetn.com" target="_blank" class="card">
                    <img src="assets/clear-choice.jpg" alt="Clear Choice Copy">
                    <h4>Clear Choice</h4>
                </a>
            </div>
            <div class="column column-33">
                <a href="http://www.salongingers.com" target="_blank" class="card">
                    <img src="assets/gingers-salon.jpg" alt="Clear Choice Copy">
                    <h4>Ginger Hair Salon</h4>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="contact-me">
    <div class="transition-bg-2"></div>
    <div class="container">
        <%= form_for @contact do |f| %>
            <h1>Contact Me</h1>
            <div class="row contact-form">
                <div class="column column-25">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, required: true %>
                </div>

                <div class="column column-25">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, required: true %>
                </div>

                <div class="column column-25">
                    <%= f.label :email, class: "cH" %>
                    <%= f.email_field :email, required: true%>
                </div>

                <div class="column column-25">
                    <%= f.label :phone, class: "cH" %>
                    <%= f.telephone_field :phone, required: true%>
                </div>
            </div>
            <div class="row comments">
                <div class="column">
                    <%= f.label :message, class: "cH" %>
                    <%= f.text_area :message, as: :text, class: "materialize-textarea"%>
                </div>

                <div class="column column-25 hidden">
                    <%= f.label :nickname %>
                    <%= f.text_field :nickname, hint: 'leave this field blank' %>
                </div>
            </div>
            <br>
            <div class="column">
                <button class="button btn-teal" type="submit" name="action">Send Message</button>
            </div>
      <%end%>
        <!--
        <form action="">
            <h1 class="black-text">Contact Me</h1>
            <div class="row">
                <div class="column column-25">
                    <label for="">First Name:</label>
                    <input class="required" type="text" name="first_name" id="first_name" required="true">
                </div>
                <div class="column column-25">
                    <label for="">Last Name:</label>
                    <input class="required" type="text" name="first_name" id="first_name" required="true">
                </div>
                <div class="column column-25">
                    <label for="">Email:</label>
                    <input class="required" type="text" name="first_name" id="first_name" required="true">
                </div>
                <div class="column column-25">
                    <label for="">Phone:</label>
                    <input class="required" type="text" name="first_name" id="first_name" required="true">
                </div>
            </div>
            <div class="row comments">
                <div class="column">
                    <label for="">Comments:</label>
                    <textarea name="comments" id="comments" cols="30" rows="10"></textarea>
                </div>
            </div>
            <br>
            <button class="button btn-teal">Submit</button>
        </form>
        -->
    </div>
</section>